fastapi
uvicorn[standard]
python-multipart
python-dotenv
pymupdf
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu